services:
  db:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: prisma_app
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
      - ./server/db/init:/docker-entrypoint-initdb.d
    networks:
      - app-net

  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: mysql://app:app@db:3306/prisma_app
      CORS_ORIGIN: http://localhost:8080
      JWT_SECRET: supersecret
      PORT: 3000
      DB_HOST: db
      DB_USER: app
      DB_PASS: app
      DB_NAME: prisma_app
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - ./server/uploads:/app/server/uploads
    networks:
      - app-net

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - api
    networks:
      - app-net

networks:
  app-net:

volumes:
  dbdata: